@using Microsoft.AspNet.Identity
@model IEnumerable<GoalTracker.Models.Day>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (ViewContext.HttpContext.User.IsInRole("Instructor"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultGoal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDayActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="alert  
            @if (item.Date > DateTime.Now)
            {
                <text>alert-success</text>
            }
            else if (item.Date == DateTime.Today)
            {
                <text>alert-info</text>
            }
            else if(item.Date < DateTime.Now)
            {
                <text>alert-warning</text>
            }
            ">
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDayActive)
            </td>
            @if (ViewContext.HttpContext.User.IsInRole("Instructor"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DayId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DayId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DayId })
                </td>
            }
            else if (ViewContext.HttpContext.User.IsInRole("Student") && item.IsDayActive)
            {
                if (item.Date >= DateTime.Today)
                {
                    <td>
                        <span class="glyphicon glyphicon-pencil"></span> 
                        @Html.ActionLink("Edit Goal", "Create", "Goals", new {DayId = item.DayId}, null)
                    </td>
                }
                else
                {
                    if (item.Goals.Any(g => g.DayOfGoal.DayId.Equals(item.DayId) && g.Student.Id.Equals(User.Identity.GetUserId())))
                    {
                        <td class="alert alert-success">
                            <span class="glyphicon glyphicon-ok"></span> 
                            @Html.ActionLink("View Goal", "Details", "Goals", new {DayId = item.DayId}, null)
                        </td>
                    }
                    else
                    {
                        <td class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span> No Goal!</td>
                    }
                }
            }
            else
            {
                <!--To keep the lines cleen-->
                <td></td>
            }
        </tr>
    }

</table>
