@model GoalTracker.Models.Goal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Goal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GoalText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoalText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accomplishment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accomplishment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffortScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffortScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalInteractionPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessionalInteractionPoints)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FormId })
</p>
